{% extends 'base.html.twig' %}
{% block body %}

    <form class="form-horizontal" action="{{ path('login') }}" method="post">
        <div class="form-group">
            <label for="inputUsername" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text"
                       class="form-control"
                       id="inputUsername"
                       name="_username"
                       placeholder="username"
                       value="{{ last_username }}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" name="_password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Sign in</button>
            </div>
        </div>
        <input type="hidden" name="_target_path" value="/"/>
    </form>

    {% if error %}
        <div class="alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

{% endblock %}
