{% extends 'base.html.twig' %}

{% block body %}

    <form class="form-inline" action="{{ path('app_default_index') }}" method="get">
        <div class="form-group">
            <input type="text"
                   class="form-control input-lg"
                   name="q"
                   placeholder="search"
                   value="{{ searchTerm }}">
        </div>
        <button type="submit" class="btn btn-default btn-lg">search</button>
    </form>
    <p></p>
    <p>Found {{ movies|length }} movies</p>

    <ul>
        {% for movie in movies %}
            <li>
                <a href="{{ path('app_movie_details',{id: movie.id}) }}">
                    {{ movie.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
