{% extends 'base.html.twig' %}

{% block body %}
    <h3>Movie details</h3>
    {% if is_granted('ROLE_ADMIN') %}
        <div>
            <a href="{{ path('app_movie_edit',{id:movie.id}) }}">[edit]</a>
        </div>
    {% endif %}

    <dl class="dl-horizontal">
        <dt>id</dt>
        <dd>{{ movie.id }}</dd>

        <dt>title</dt>
        <dd>{{ movie.title }}</dd>

        <dt>description</dt>
        <dd>{{ movie.description }}</dd>

        <dt>release year</dt>
        <dd>{{ movie.releaseYear }}</dd>

        <dt>genres</dt>
        <dd>
            {% for genre in movie.genres %}
                <div>
                    <a href="{{ path('app_genre_details', {'id': genre.id}) }}">
                        {{ genre.name }}
                    </a>
                </div>
            {% endfor %}
        </dd>

        <dt>actors</dt>
        <dd>
            {% for actor in movie.actors %}
                <div>
                    <a href="{{ path('app_actor_details', {'id': actor.id}) }}">
                        {{ actor.name }} {{ actor.surname }}
                    </a>
                </div>
            {% endfor %}
        </dd>

        <dt>directors</dt>
        <dd>
            {% for director in movie.directors %}
                <div>{{ director.name }} {{ director.surname }}</div>
            {% endfor %}
        </dd>
    </dl>
{% endblock %}
