{% extends 'base.html.twig' %}

{% block body %}
    <h3>Movies list</h3>
    {% if is_granted('ROLE_ADMIN') %}
        <div>
            <a href="{{ path('app_movie_create') }}">[new]</a>
        </div>
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>year</th>
        </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>
                    {{ movie.id }}
                </td>
                <td>
                    <a class="link" href="{{ path('app_movie_details', {id: movie.id}) }}">
                        {{ movie.title }}
                    </a>
                </td>
                <td>
                    {{ movie.releaseYear }}
                </td>
            </tr>

        {% endfor %}
        </tbody>

    </table>
{% endblock %}
