{% extends 'base.html.twig' %}

{% block body %}
    <h3>Directors list</h3>
    {% if is_granted('ROLE_ADMIN') %}
        <div>
            <a href="{{ path('app_director_create') }}">[new]</a>
        </div>
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>full name</th>
        </tr>
        </thead>
        <tbody>
        {% for director in directors %}
            <tr>
                <td>
                    {{ director.id }}
                </td>
                <td>
                    <a class="link" href="{{ path('app_director_details', {id: director.id}) }}">
                        {{ director.name }} {{ director.surname }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
