{% extends 'base.html.twig' %}

{% block body %}
    <h3>Genre details</h3>
    {% if is_granted('ROLE_ADMIN') %}
        <div>
            <a href="{{ path('app_genre_edit',{id: genre.id}) }}">[edit]</a>
        </div>
    {% endif %}

    <dl class="dl-horizontal">
        <dt>id</dt>
        <dd>{{ genre.id }}</dd>

        <dt>name</dt>
        <dd>{{ genre.name }}</dd>

        <dt>movies</dt>
        <dd>
            {% for movie in genre.movies %}
                <div>
                    <a href="{{ path('app_movie_details', {'id': movie.id}) }}">
                        {{ movie.title }} ({{ movie.releaseYear }})
                    </a>
                </div>
            {% endfor %}
        </dd>
    </dl>
{% endblock %}
