{% extends 'base.html.twig' %}

{% block body %}
    <h3>Genres list</h3>
    {% if is_granted('ROLE_ADMIN') %}
        <div>
            <a href="{{ path('app_genre_create') }}">[new]</a>
        </div>
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>
                    {{ genre.id }}
                </td>
                <td>
                    <a class="link" href="{{ path('app_genre_details', {id: genre.id}) }}">
                        {{ genre.name }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
