{% extends 'base.html.twig' %}

{% block body %}
    <h3>Actor details</h3>
    {% if is_granted('ROLE_ADMIN') %}
        <div>
            <a href="{{ path('app_actor_edit',{id:actor.id}) }}">[edit]</a>
        </div>
    {% endif %}

    <dl class="dl-horizontal">
        <dt>id</dt>
        <dd>{{ actor.id }}</dd>

        <dt>name</dt>
        <dd>{{ actor.name }}</dd>

        <dt>surname</dt>
        <dd>{{ actor.surname }}</dd>

        <dt>birthdate</dt>
        <dd>{{ actor.birthDate is empty ? "---":actor.birthDate|date('Y-m-d') }}</dd>

        <dt>movies</dt>
        <dd>
            {% for movie in actor.movies %}
                <div>
                    <a href="{{ path('app_movie_details', {'id': movie.id}) }}">
                        {{ movie.title }} ({{ movie.releaseYear }})
                    </a>
                </div>
            {% endfor %}
        </dd>
    </dl>
{% endblock %}
