{% extends 'base.html.twig' %}

{% block body %}
    <h3>Actors list</h3>
    {% if is_granted('ROLE_ADMIN') %}
        <div>
            <a href="{{ path('app_actor_create') }}">[new]</a>
        </div>
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>full name</th>
        </tr>
        </thead>
        <tbody>
        {% for actor in actors %}
            <tr>
                <td>
                    {{ actor.id }}
                </td>
                <td>
                    <a class="link" href="{{ path('app_actor_details', {id: actor.id}) }}">
                        {{ actor.name }} {{ actor.surname }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
